@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Raleway:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*MENU INICIAL RESPONSIVO Desktop*/
.nav-bar {
    background-image:url(img/1.jpg) ;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
    
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    
}

/*FIM MENU INICIAL RESPONSIVO Desktop*/

/*MENU INICIAL RESPONSIVO Mobile*/

.whats-button button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(65, 2, 85);
}

.whats-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        background-image:url(img/1.jpg) ;
        background-size: 100%;
        display: flex;
        justify-content: space-between;

    }
    .nav-item {
        display: none;
    }
    .whats-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-image:url(img/1.jpg) ;
        background-size: 100%;
    
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        background-color: rgb(0, 0, 0);
    }
    .mobile-menu .whats-button {
        display: block;
        padding: 1rem 2rem;
        background-image:url(img/1.jpg) ;
        background-size: 100%;
    }
    .mobile-menu .whats-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
/*FIM INICIAL RESPONSIVO Mobile*/




/*Titulo e corpo*/
header {
    height: calc( 25vh - 100px);

    background: black;
    background-repeat: no-repeat center cover;
    background-size: 100%;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {

    text-align: center;
}

header h2 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    padding: 7px 0;
}
.header-content{
    max-width: 1000px;  
    margin: 10px auto;
    text-align: center;
    
    }
    
    .header-content h1{
    margin-bottom: 10px;
    }

/*Card info serivos 0*/
.servicos{
    text-align: center;
    background: black;
height: 500px;

}

.servicos .card{
    width: 250px;
    height: 350px;
    background: rgba(0, 0, 0, 0) center;
    background-image:url(assets/1.jpg) ;
    border-radius: 24px 0px;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
    
margin: auto;

    
}

.servicos .card-image{
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.servicos .card ul {
    margin: 0 30px;
}
/*Final Card 0*/

/* *Card info serivos 1*/
.servicos1{
    text-align: center;
    background: black;
height: 500px;
}

.servicos1 .card{
    width: 250px;
    height: 350px;
    background: rgba(71, 18, 18, 0) center;
    background-image:url(assets/1.jpg) ;
    border-radius: 24px 0px;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
    
margin: auto;

    
}

.servicos1 .card-image{
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.servicos1 .card ul {
    margin: 0 30px;
}
/*Final Cards Serviços*/

/*Card info qsomos*/
.qsomos{
    text-align: center;
    background-image:url(img/1.jpg) ;
    background-size: 100%;
    height: 500px;
}

.qsomos .card{
    width: 250px;
    height: 350px;
    background: rgba(0, 0, 0, 0);
    border-radius: 24px 0px;
    margin: auto;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    
margin: auto;

    
}

.qsomos .card-image{
    
    width: 250px;
    height: 250px;
    border-radius: 50%;

}
.qsomos .card ul {
    margin: 0 30px;
}
/*Final Cards qsomos*/

/*Card info contatos*/
.contato{
    text-align: center;
    background-color: black;
    height: 500px;
}

.contato .card{
    width: 350px;
    height: 350px;
    background: rgba(0, 0, 0, 0) center;
    border-radius: 24px 0px;
    margin: auto;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    
margin: auto;

    
}

.contato .card-image{
    
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.contato .card ul {
    margin: 0 30px;
}
/*Final Cards contatos*/




/* Roda-pé */
#footer {
    background-image:url(img/1.jpg) ;
    background-size: 100%;
    color: #eee;
    padding: 30px;
    text-align: center;
}
/* Final Roda-pé */


/* Color */
p{color:ghostwhite; }
h1{color: ghostwhite;}
h2{color:ghostwhite; }
h3{color: ghostwhite;}
h4{color: ghostwhite;}
h5{color:ghostwhite; }
form{color:ghostwhite;}
label{color: ghostwhite;}
li{color: ghostwhite;}
ul{color: ghostwhite;}
/* Final  Color */

